
<!-- Feed panel -->



<div x-data="{
    item: $store.content.getDummyThread(),
    items: $store.content.replies,
    targetThreadId: $store.content.getDummyThread().threadId,
    parentId: $store.content.getDummyThread().id,
    threadItem: $store.content.getDummyThread(),
    filterData: [
    {
      name: 'Reviews',
      values: ['All', 'Agrees', 'Disagrees'],
      selected: 'All',
      type: 'Select',
    },
    {
      name: 'Threads',
      values: ['All', 'Agrees', 'Disagrees'],
      selected: 'All',
      type: 'Checkbox',
    },
    {
      name: 'Tags',
      values: ['C#'],
      selected: 'C#',
      type: 'Checkbox',
    },
    {
      name: 'Content',
      values: ['All', 'Agrees', 'Disagrees'],
      selected: 'All',
      type: 'Checkbox',
    },
    {
      name: 'Sort',
      values: ['Created', 'Updated', 'Ratings'],
      selected: 'All',
      type: 'Radio',
    }
  ]
  }">
  <nav>
    <ul>
      <li>
        <i aria-label="Agree" @click="back" class="icon material-icons icon-click" rel="prev">chevron_left</i>
      </li>
    </ul>
  </nav>

  <div x-data="_contentPostsManager({
      sourceUrl: 'https://localhost:7220/api/contentpost',
      threadUrl: 'https://localhost:7220/content/thread',
      fetchPostsUrl: 'https://localhost:7220/api/contentsearch/posts',
      fetchReviewsUrl: 'https://localhost:7220/api/contentsearch/reviews',
      reviewUrl: 'https://localhost:7220/api/contentpostreview',
      userId: '3fa85f64-5717-4562-b3fc-2c963f66afa6',
      targetThread: targetThreadId,
      parentId: targetThreadId,
      event: 'post:created',
      items: [],
      channel: null,
    })">
    <!-- Original post -->
      <div x-data="appCardPost({
        item: threadItem
      })"></div>
    </div>

    <!--Feed-->
    <div x-data="appNavFilters({
      filters: filterData
    })"></div>
    
    <!-- Response Form -->
    <article>
      <div x-data="appFormResponse({
        postbackUrl: 'https://localhost:7220/api/contentpost',
        postbackType: 'POST',
        event: 'post:created',
        fieldPlaceholder: 'Write a reply',
        label: 'Reply'
      })"></div>
    </article>
    
    <!--Responses-->
    <main x-transition>
      <div x-data="appListPost"></div>
    </main>
  </div>
</div>

</div>
<!-- Modals -->
<!-- Edit post -->
<div x-data="modalForm({target: 'modal-edit-post', title: 'Edit post', text: 'test 123',
form: {
  postbackUrl: 'https://localhost:7220/api/contentpost',
  postbackType: 'POST',
  event: 'post:created',
  fieldPlaceholder: 'Write a reply',
  label: 'Reply',
    fields: [
      {
        name: 'Content',
        type: 'textarea',
        placeholder: 'Write a reply',
        autocomplete: null,
        helper: '',
        clearOnSubmit: true,
      },
      {
        name: 'ParentId',
        type: 'input',
        disabled: true,
        hidden: true,
        autocomplete: null,
        helper: '',
        value: '$store.content.posts[0].id',
      },
      {
        name: 'Status',
        type: 'input',
        disabled: true,
        hidden: true,
        autocomplete: null,
        helper: '',
        value: 'Hidden',
      },
      {
        name: 'ChannelId',
        type: 'input',
        disabled: true,
        hidden: true,
        autocomplete: null,
        helper: '',
        value: '$store.content.posts[0].channelId',
      },
      {
        name: 'ThreadId',
        type: 'input',
        disabled: true,
        hidden: true,
        autocomplete: null,
        helper: '',
        value: '$store.content.posts[0].threadId',
      },
      {
        name: 'Tags',
        type: 'input',
        disabled: true,
        hidden: true,
        autocomplete: null,
        helper: '',
        value: '$store.content.posts[0].tags',
      },
      {
        name: 'Category',
        type: 'input',
        disabled: true,
        hidden: true,
        autocomplete: null,
        helper: '',
        value: '$store.content.posts[0].category',
      },
      {
        name: 'UserId',
        type: 'input',
        disabled: true,
        hidden: true,
        autocomplete: null,
        helper: '',
        value: '$store.content.posts[0].userId',
      },
    ]
}  })"></div>

<!-- Delete post -->
<div x-data="modal({target: 'modal-remove-post', title: 'Remove post', text: 'test 123' })"></div>

<!-- Share post -->
<div x-data="modal({target: 'modal-share-post', title: 'Share post', text: 'test 123'  })"></div>
