@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model Stripe.Onboarding.Features.Cart.Models.Views.CheckoutPage

<!--Card-->
<article class="dense">
    <header>
        <nav>
            Payment
        </nav>
    </header>
    <div>
        @foreach(var charge in Model.Charges)
        {
            <div>@charge.Id</div>
            <div>@charge.Amount</div>
        }
        <div 
    </div>
    <footer>
        <nav>
            <ul>
                <li>
                    <button>Home</button>
                </li>
            </ul>
        </nav>
    </footer>
</article>