@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model Stripe.Onboarding.Features.Cart.Models.Views.CheckoutPage

<script defer>
    // This is a public sample test API key.
    // Don’t submit any personally identifiable information in requests made with this key.
    // Sign in to see your own test API key embedded in code samples.
    try {
        const appearance = {
            theme: 'night',
            variables: {
                fontFamily: 'Sohne, system-ui, sans-serif',
                fontWeightNormal: '500',
                borderRadius: '8px',
                colorBackground: '#0A2540',
                colorPrimary: '#EFC078',
                accessibleColorOnColorPrimary: '#1A1B25',
                colorText: 'white',
                colorTextSecondary: 'white',
                colorTextPlaceholder: '#ABB2BF',
                tabIconColor: 'white',
                logoColor: 'dark'
            },
            rules: {
                '.Input': {
                    backgroundColor: '#212D63',
                    border: '1px solid var(--colorPrimary)'
                }
            }
        };
        const stripe = Stripe('@Model.PublicKey');

        initialize();

        // Create a Checkout Session
        async function initialize() {
            /*
            const elements = stripe.elements({'@Model.PublicKey', appearance });
            const options = {
                wallets: true
            };
            const paymentElement = elements.create('payment', options);
            */
            const fetchClientSecret = async () => {
                const response = await fetch('@Model.PostbackUrl', {
                    method: 'POST',
                });
                const { clientSecret } = await response.json();
                return clientSecret;
            };
            var key = await fetchClientSecret();

            const checkout = await stripe.initEmbeddedCheckout({
                fetchClientSecret,
            });

            // Mount Checkout
            checkout.mount('#checkout');
        }
    }
    catch(e){

    }
    
</script>

<div>checkout</div>
 
<div id="checkout">
    <!-- Checkout will insert the payment form here -->
</div>

<article class="dense">
    
    <footer>
        <nav>
            <ul>
                <li>
                    <button @@click="window.location.replace('/home');">Return</button>
                </li>
            </ul>
        </nav>
    </footer>
</article>
