@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model Stripe.Onboarding.Features.Cart.Models.Views.CheckoutPage

<div>checkout</div>

<!--Card-->
<article class="dense">
    <header>
        <nav>
            Your cart
        </nav>
    </header>
    <div>
        <form action="/cart/CheckoutHostedPage" method="POST">
            <button type="submit" id="checkout-button">Stripe Hosted Checkout</button>
        </form>
    </div>
    <footer>
        <nav>
            <ul>
                <li>
                    <button>Cancel</button>
                </li>
            </ul>
        </nav>
    </footer>
</article>