<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
    </system.web>
  <system.webServer>
	<webSocket enabled="true" />
    <handlers>
      <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
      
    </handlers>
    <rewrite>
      <rules>
      </rules>
    </rewrite>
    
    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>