<div>
  <nav>
      <ul>
          <li>
              <a href="#">
                  <i aria-label="Agree" class="icon material-icons icon-click" rel="prev">chevron_left</i>
              </a>
          </li>
          <li>
              <strong>Post not found</strong>
          </li>
      </ul>
  </nav>
  <article>
    <h2>Post not found</h2>
    <p>
      We are unable to retrieve this post, this may have been deleted or made private.
    </p>
    <footer>
      <button>Return</button>
    </footer>
  </article>
</div>
